---
Language: Cpp
BasedOnStyle: Chromium
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: None
BinPackArguments: false
ColumnLimit: 100
IncludeCategories:
  - Regex:    '^<'
    Priority: 2
  - Regex:    '^"'
    Priority: 1
IndentPPDirectives: AfterHash
SortIncludes: true
...

